:root {
  /* default ~(azul) */
  --primary-hue: 206.1; 
  --primary-saturation: 100%;
  --primary-lightness: 39.2%;

  --primary-bg: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
  --primary-color: white;

  /* default~(verde) */
  --success-hue: 142.4;
  --success-saturation: 71.8%;
  --success-lightness: 29.2%;

  /* default~(rojo) */
  --danger-hue: 0;
  --danger-saturation: 100%;
  --danger-lightness: 50%;

  --disabled-hue: 0;
  --disabled-saturation: 0%;
  --disabled-lightness: 50%;
}

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}