.search-container{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.search-container span {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-container input {
  width: auto;
  padding: 8px;
  padding-right: 28px;
  border: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-container .icon {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%) scale(0.8);
  width: 24px;
  height: 24px;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  text-align: left;
}

th,
td {
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}
th > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th  input {
  width: auto;
  padding: 8px;
  border: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 4px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
}

.pagination .active{
  filter: brightness(0.9);
  --button-bg: hsl(var(--secondary-hue), var(--secondary-saturation), var(--secondary-lightness));
}