:host {
  --space: 1rem;
  --bg-color: var(--primary-bg);
  --cell-bg-color: transparent;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.hidden {
  display: none;
}


.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  gap: var(--space);
  margin-bottom: var(--space);
}

.search-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  width: 100%;

  & div {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  & input {
    width: 100%;
    padding: .5rem;
    padding-right: 2.5rem;
    border: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  & .icon {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%) scale(0.8);
    width: 24px;
    height: 24px;
    opacity: .5;
  }
}

.page-size-selector {
  display: flex;
  align-items: flex-end;
  gap: var(--space);
  padding: var(--spacing-xs) var(--spacing-sm);
  border: 1px solid #ddd;
  border-radius: var(--border-radius);

  & select {
    appearance: none;
    border: none;
    padding: 2px var(--space);

    &:hover {
      cursor: pointer;
      background: #f2f2f2;
    }
  }

}

.table-wrapper {
  overflow-x: auto;
}

[part="heading-1"] {
  text-align: left;

}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  counter-reset: rowNumber;
  margin-bottom: var(--space);
}

th,
td {
  background: var(--cell-bg-color);
  position: relative;
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;

  &>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .header-title{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
  }

  & .sort-icon{
    display: inline-block;
    width: 1rem;
    height: 1rem;
  }
}

tr {
  position: relative;

  &:nth-child(even) {
    background-color: #f2f2f2;
  }
}

th input[type="text"] {
  width: auto;
  padding: 8px;
  border: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 4px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space);

  &-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.table-empty {
  text-align: center;
}

.selection-checkbox {
  appearance: none;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid #ddd;
  border-radius: 0.2rem;
  cursor: pointer;
  outline: none;
  margin: 0;

  &:focus {
    outline: auto;
  }

  &:checked::before {
    content: '✓';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--success-bg);
    font-weight: bold;
  }

}

tbody tr:has(.selection-checkbox:checked) {
  $color: 'hsl(from var(--success-bg) h s l / 0.1)';
  background-color: unquote($color);
}

tbody .actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (min-width: 768px) {
  .toolbar {
    flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  table, tbody {
    display: block;  
  }

  thead {
    display: none;
  }
  tr {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    margin-bottom: 1rem;

    &:nth-child(even){
      background-color: inherit;
    }
  }

  td {
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-bottom: 1px solid #ddd;
   
    &::before {
      content: attr(data-label);
      font-weight: bold;
      text-transform: capitalize;
    }
    order: 1;
  }

  td.selectioncell,
  td.actionscell {
    width: 45%;
    flex: 1;
    order: 0;
    background-color: #f5f5f5;
  }
  td:last-child{
    text-align: right;
  }

  footer {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
  }
}