:host {
  --space: 1rem;
  --bg-color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.hidden {
  display: none;
}


.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: var(--space);
}

.search-container {
  display: flex;
  justify-content: flex-end;
}

.search-container div {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container input {
  width: auto;
  padding: .5rem;
  padding-right: 2.5rem;
  border: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-container .icon {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%) scale(0.8);
  width: 24px;
  height: 24px;
  opacity: .5;
}

.page-size-selector {
  display: flex;
  align-items: flex-end;
  gap: var(--space);
  padding: 4px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.page-size-selector select {
  appearance: none;
  border: none;
  padding: 2px var(--space);
}

.page-size-selector select:hover {
  cursor: pointer;
  background: #f2f2f2;
}



.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  text-align: left;
  counter-reset: rowNumber;
}

th,
td {
  position: relative;
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

th>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr {
  position: relative;
}

th input[type="text"] {
  width: auto;
  padding: 8px;
  border: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 4px;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pagination-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.table-empty {
  text-align: center;
}

.select-checkbox {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  margin: 0;
}

.select-checkbox:checked::before {
  content: '✓';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: hsl(var(--success-hue), var(--success-saturation), var(--success-lightness));
  font-weight: bold;
}

tbody tr:has(.select-checkbox:checked) {
  background-color: hsla(var(--success-hue), var(--success-saturation), var(--success-lightness), 0.1);
}
