:host {
  display: inline-block;
  --button-hue: var(--primary-hue, 210);
  --button-saturation: var(--primary-saturation, 100%);
  --button-lightness: var(--primary-lightness, 50%);
  --button-bg: hsl(var(--button-hue), var(--button-saturation), var(--button-lightness));
  --button-color: white;

  --button-hover-lightness: calc(var(--button-lightness) - 10%);
  --button-hover-bg: hsl(var(--button-hue), var(--button-saturation), var(--button-hover-lightness));

  --button-disabled-bg: hsl(var(--disabled-hue), var(--disabled-saturation), var(--disabled-lightness));
  --button-success-bg: hsl(var(--success-hue), var(--success-saturation), var(--success-lightness));

  --icon-size: 1em;
  --spacing: 0.5em;
  --rounded: 4px;
}

button {
  padding: 0.5em 0.75em;
  font-size: 1em;
  color: var(--button-color);
  background-color: var(--button-bg);
  border: none;
  border-radius: var(--rounded);
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
  position: relative;
  transition: 0.4s;
}

.button__content {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

button:not(:disabled):hover .button__content {
  transform: scale(1.05);
}

button:not(:disabled):hover {
  filter: brightness(90%);
}
button:not(:disabled):active{
  filter: brightness(100%);
  transform: scale(0.95);
}



button:disabled {
  background-color: var(--button-disabled-bg);
  cursor: not-allowed;
}

button.loading {
  cursor: progress;
  filter: blur(.5px);
  pointer-events: none;
  animation: loading 1s infinite;
}

button.success {
  background-color: var(--button-success-bg);
}

.button__text {
  display: inline-block;
  padding-inline: 0.25em;
}

.hidden {
  display: none;
}

slot[name^='icon']::slotted(*) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--icon-size);
  height: var(--icon-size);
  display: inline-block;
}

@keyframes loading {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.5;
  }
}
