:host {
  width: 100%;
  display: block;
  font-family: Arial, sans-serif;
  border: 1px solid var(--stepper-border-color, #ddd);
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --main-hue: var(--primary-hue, 210); 
  --main-saturation: var(--primary-saturation, 100%); 
  --main-lightness: var(--primary-lightness, 50%); 

  /* Colores base */
  --main-bg: hsl(var(--main-hue), var(--main-saturation), var(--main-lightness));
  --completed-bg: hsl(var(--success-hue), var(--success-saturation), var(--success-lightness));
  --invalid-bg: hsl(var(--danger-hue), var(--danger-saturation), var(--danger-lightness));

  --main-color: white;
  --completed-color: white;
  --invalid-color: white;

  /* Colores de los indicadores */
  --indicator-active-bg: var(--main-bg);
  --indicator-active-color: var(--main-color);
  --indicator-active-border: var(--main-bg);

  --indicator-completed-bg: var(--completed-bg);
  --indicator-completed-color: var(--completed-color);
  --indicator-completed-border: var(--completed-bg);

  --indicator-invalid-bg: var(--danger-bg);
  --indicator-invalid-color: var(--danger-color);
  --indicator-invalid-border: var(--danger-bg);
}

.content {
  padding: 1rem;
}

#indicators {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  margin-bottom: 1em;
}

.indicator {
  width: 30px;
  height: 30px;
  background-color: var(--indicator-bg, transparent);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid transparent;
  color: var(--indicator-color, black);
}

.indicator:disabled {
  cursor: not-allowed;
  opacity: .5;
}

.indicator.active {
  pointer-events: none;
  background-color: var(--indicator-active-bg, #007bff);
  color: var(--indicator-active-color, white);
  border-color: var(--indicator-active-border, #007bff);
}

.indicator.completed {
  background-color: var(--indicator-completed-bg, #28a745);
  color: var(--indicator-completed-color, white);
  border-color: var(--indicator-completed-border, #28a745);
}

.indicator.invalid {
  background-color: var(--indicator-invalid-bg, #dc3545) !important;
  color: var(--indicator-invalid-color, white) !important;
  border-color: var(--indicator-invalid-border, #dc3545) !important;
}

#controls {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}